*{
    font-family:"Roboto",sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

:root{
    --main-color: #f5a623;
    --bright:#ff5c00;
    --font: #101d6b;
    --primary: #f0fff7;
    --black: #141414;
    --white: #fff;
    --bg: #f2f2f2;
    --light-black: #666;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: #141414;
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    color:#141414;
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 4rem;
}

.btn{
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    background-color: #000000;
    color: black; 
    padding: 3px 20px 10px 15px;
    border: none; 
    border-radius: 8px; 
    z-index: 1;
    font-size: 16px; 
    cursor: pointer; 
}

.btn::before{
    content: '';
    position: absolute;
    bottom: 8px; 
    right: 8px; 
    width: 100%;
    height: 100%;
    background-color: #f5a623; 
    z-index: -1; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.btn:hover{
    background-color: #f39c12;
}

/* Header */

.header{
    width: 95%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 2rem 9%;
    background: #333;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.header::after{
    content: '';
    position: absolute;
    bottom: 8px; 
    right: 8px; 
    width: 100%;
    height: 100%;
    background-color: #f5a623; 
    z-index: -1; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header .logo{
    font-size: 2.2rem;
    font-weight: bolder;
    color: var(--font);
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 5rem;
    color: #141414;
}

.header .navbar a:hover{
    color: #fff;
}

.menu{
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* Home */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/diet.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed; 
}

.home .content{
    max-width: 60rem;
    text-align: center;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 3.5rem;
}

/* About */
.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: #141414;
    text-transform: uppercase;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 2rem 0;
    line-height: 2;
}


.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

/* Reason */


.reason .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.reason .row .content{
    flex: 1 1 40rem;
}

.reason .row .content h3{
    font-size: 3.5rem;
    color: #141414;
    text-transform: uppercase;
}

.reason .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 2rem 0;
    line-height: 2;
}


.reason .row .image{
    flex: 1 1 40rem;
}

.reason .row .image img{
    width: 80%;
}




/* tips  */

.tips .controls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    list-style: none;
}

.tips .controls .buttons{
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    background-color: #000000;
    color: black; 
    padding: 3px 20px 10px 15px;
    border: none; 
    border-radius: 8px; 
    z-index: 1;
    font-size: 16px; 
    cursor: pointer; 
}

.tips .controls .buttons::before{
    content: '';
    position: absolute;
    bottom: 8px; 
    right: 8px; 
    width: 100%;
    height: 100%;
    background-color: #f5a623; 
    z-index: -1; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.tips .controls .buttons:hover{
    background-color: #f39c12;
}


.tips .controls .buttons img{
    position: relative;
    margin: 0 auto;
    display: block;
    height: 6rem;
    scale: 0.8;
}

.tips .controls .buttons h3{
    font-size: 1.7rem;
    padding-top: -1rem;
    text-align: center;
    color: var(--light-black);
}

.tips .controls .buttons.active{
    background: var(--bright);
}

.tips .image-container{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.tips .image-container .box{
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
}

.tips .image-container .box:hover .image img{
    transform: scale(1.1);
}

.tips .image-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.tips .image-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tips .image-container .box .content{
    padding: 2rem;
}

.tips .image-container .box .content .link{
    font-size: 2rem;
    color: var(--main-color);
}

.tips .image-container .box .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-black);
    line-height: 2;
}

.tips .image-container .box .content h2{
    font-size: 1.7rem;
    padding-top: -1rem;
    text-align: left;
    color: var(--light-black);
}

.tips .image-container .box .content ul li {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--light-black);
    line-height: 1.3;
}

.tips .image-container .box .content h3 li{
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--light-black);
    line-height: 0;
}
.tips .image-container .box .content .icon{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tips .image-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-black);
}

.tips .image-container .box .content .icon a:hover{
    color: var(--main-color);
}


.tips .image-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--main-color);
}


/* tips end */

/* review */

.reviews .slide p{
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--black);
    line-height: 2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
}

.reviews .slide p::before{
    content: '';
    position: absolute;
    bottom: -1.5rem; left: .7rem;
    height: 3rem; width: 3rem;
    background: var(--primary);
    transform: rotate(45deg);
}

.reviews .slide .user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.reviews .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;   
}

.reviews .slide .user h3{
    font-size: 2rem;
    color: var(--black);
}

.reviews .slide .user span{
    color: var(--main-color);
    font-size: 1.5rem;
}

/* review end */


